services:
  db:
    image: postgres:17
    container_name: online_course_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}


    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  web:
    build: .
    container_name: online_course_web
    command: python manage.py runserver 0.0.0.0:8000

    ports:
      - "8000:8000"

    depends_on:
      - db

    environment:
      DATABASE_NAME: ${DB_NAME}
      DATABASE_USERNAME: ${DB_USER}

      DATABASE_PASSWORD: ${DB_PASSWORD}
      DATABASE_HOST: ${DB_HOST}
      DATABASE_PORT: ${DB_PORT}

    env_file:
      - .env

volumes:
      postgres_data:
