<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="background-color:#5865F2;color:#fff;padding:10px;">
        Email Verification
    </h2>

    <div style="background:#fff;padding:20px;">
        <p>Hello {{ user.email }},</p>

        <p>The below code has been sent for registration</p>

        <h1 style="letter-spacing: 5px; color:#5865F2;">
            {{ code }}
        </h1>

        <p>Agar siz ro‘yxatdan o‘tmagan bo‘lsangiz, bu xabarni e’tiborsiz qoldiring.</p>

        <p>Hurmat bilan,<br>Delight Team</p>
    </div>
</div>
